@model Lab4.Models.SignUpModel
@{
    ViewData["Title"] = "SignUpResult";
}

<h2>Sign Up result</h2>

<b>First name:</b>
<p>@Model.FirstName</p><br />
<b>Last name:</b>
<p>@Model.LastName</p><br />
<b>Gender:</b>
<p>@Model.Gender</p><br />
<b>Birthday:</b>
<p>@Model.Day @Model.Month  @Model.Year</p><br />
<b>E-mail:</b>
<p>@Model.Email</p><br />
<b>Password:</b>
<p>@Model.Password</p><br />