
@{
    ViewData["Title"] = "quizResult";
    int number = 1;

}

<h2>QuizResult</h2>
<h2>@ViewBag.C</h2>
<h3>Right answers @ViewBag.RightAnswersCount of @ViewBag.AnswersCount</h3>

<h2>Answers:</h2>
@foreach (string result in ViewBag.ListResult)
{
    <h3>@(number++). @result</h3>
}